<html>
  <head>
    {% if title %}
    <title>{{ title }} - StudentApp</title>
    {% else %}
    <title>Student Record</title>
    {% endif %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<h1 size="56" allign='center' ><a href="/index">Student Record</a>
 <s1 style="float:right;">   {% if current_user.is_authenticated() %}
        {{current_user.username}}<a href="/logout"> Logout</a>
{% elif current_user.is_anonymous() %}
        Guest<a align='left' href="/login"> Login</a><br><a href="/register">&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;</a>
{% endif %}</s1></h1>
	<hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</html>
