<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='button.js') }}"></script></head>
{% extends "base.html" %}
{% block content %}
<h1>RESET PASSWORD</h1>
<form action="" method="post" name="reset"><input name='idid' value='{{email}}' id='idid'></input>
    {{ form.hidden_tag() }}
        New Password:<br>
<div class="password_field">{{ form.password(size=22,tabindex=2) }}
       <button type="button" width="13" height="13" id="pass_show" type="password" onclick="mouseoverPass();" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" ><img tabindex="12" src="{{ url_for('static', filename='a.jpg') }}" alt="Search" width="13" height="13"/></button></div>
        {% for error in form.password.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
	Reenter Password:<br>
<div class="password_field">{{ form.rptpassword(size=22,tabindex=2) }}
       <button type="button" width="13" height="13" id="pass_show" type="password" onclick="mouseoverPass();" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" ><img tabindex="12" src="{{ url_for('static', filename='a.jpg') }}" alt="Search" width="13" height="13"/></button></div>
        {% for error in form.password.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    <p><input type="submit" value="reset" name="reset" tabindex=4></p>
</form><hr><script>document.getElementById('idid').style.display='None';</script>
{% endblock %}

